<ion-menu [content]="content">
    <ion-header>
      <!--<ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>-->
      <ion-card class="menu-card">
        <ion-item text-center>
          <ion-avatar>
            <img class="menu_header_avtar" src="../assets/imgs/kisspng-user-profile-computer-icons-girl-customer-5af32956696762.8139603615258852704317.png">
          </ion-avatar>
          <h2>{{fname}} {{lname}}</h2>
          <p>{{email}}</p>
        </ion-item>
      </ion-card>
    </ion-header>
  
    <ion-content *ngIf="role==2" class="sideMenu">
      <ion-list class="menu-list" no-lines>
        <!-- <button class="sideMenuItem" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon name="add-circle"></ion-icon>
          {{p.title}}
        </button> -->
        <button class="sideMenuItem" menuClose detail-none ion-item icon-left (click)="nav.setRoot(pages.homePage)">
            <!--<ion-icon class="sideMenuIcons" name="home"></ion-icon>-->
            <ion-grid>
              <ion-row>
                <ion-col col-3>
                  <img class="list_item_icon" src="../assets/imgs/riding-car.png"/>
                </ion-col>
                <ion-col col-9>
                    <div class="list_item_title">Book A Ride</div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </button>
          <button class="sideMenuItem" menuClose detail-none ion-item icon-left (click)="nav.setRoot(pages.customerProfilePage)">  
            <!--<ion-icon ios="ios-person" md="md-person"></ion-icon>-->
            <ion-grid>
                <ion-row>
                  <ion-col col-3>
                    <img class="list_item_icon" src="../assets/imgs/user.png"/>
                  </ion-col>
                  <ion-col col-9>
                      <div class="list_item_title">Profile</div>
                  </ion-col>
                </ion-row>
              </ion-grid>
          </button>
          <button class="sideMenuItem" menuClose detail-none ion-item icon-left (click)="nav.setRoot(pages.mapPage)">  
              <!--<ion-icon ios="ios-person" md="md-person"></ion-icon>-->
              <ion-grid>
                  <ion-row>
                    <ion-col col-3>
                      <img class="list_item_icon" src="../assets/imgs/calendar-page-with-circular-clock-symbol.png"/>
                    </ion-col>
                    <ion-col col-9>
                        <div class="list_item_title">Your Bookings</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
          </button>
          <button class="sideMenuItem" menuClose detail-none ion-item icon-left (click)="nav.setRoot(pages.emailverificationPage)">  
              <!--<ion-icon ios="ios-cog" md="md-cog"></ion-icon>-->
              <ion-grid>
                  <ion-row>
                    <ion-col col-3>
                      <img class="list_item_icon" src="../assets/imgs/wallet.png"/>
                    </ion-col>
                    <ion-col col-9>
                        <div class="list_item_title">Payments</div>
                    </ion-col>
                  </ion-row>
                </ion-grid> 
          </button>
          <button class="sideMenuItem" menuClose detail-none ion-item icon-left (click)="nav.setRoot(pages.settingsPage)">  
              <!--<ion-icon ios="ios-book" md="md-book"></ion-icon>-->
              <ion-grid>
                  <ion-row>
                    <ion-col col-3>   
                      <img class="list_item_icon" src="../assets/imgs/settings.png"/>
                    </ion-col>
                    <ion-col col-9>
                        <div class="list_item_title">Settings</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
          </button>
          <button class="sideMenuItem" menuClose detail-none ion-item icon-left (click)="nav.setRoot(pages.homePage)">  
              <!--<ion-icon ios="ios-book" md="md-book"></ion-icon>-->
              <ion-grid>
                  <ion-row>
                    <ion-col col-3>
                      <img class="list_item_icon" src="../assets/imgs/notification.png"/>
                    </ion-col>
                    <ion-col col-9>
                        <div class="list_item_title">Notifications</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
          </button>
          <button class="sideMenuItem" menuClose detail-none ion-item icon-left (click)="nav.setRoot(pages.homePage)">  
              <!--<ion-icon ios="logo-usd" md="logo-usd"></ion-icon>-->
              <ion-grid>
                  <ion-row>
                    <ion-col col-3>
                      <img class="list_item_icon" src="../assets/imgs/giftbox-outline.png"/>
                    </ion-col>
                    <ion-col col-9>
                        <div class="list_item_title">Refer & Earn</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>   
          </button>
          <button class="sideMenuItem" menuClose detail-none ion-item icon-left (click)="nav.push(pages.helpPage)">  
              <!--<ion-icon ios="ios-help-circle" md="md-help-circle"></ion-icon>-->
              <ion-grid>
                  <ion-row>      
                    <ion-col col-3>
                      <img class="list_item_icon" src="../assets/imgs/chat.png"/>
                    </ion-col>
                    <ion-col col-9>
                        <div class="list_item_title">Help</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>    
          </button>
          <button class="sideMenuItem" menuClose detail-none ion-item icon-left (click)="nav.setRoot(pages.homePage)">  
              <!--<ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>-->
              <ion-grid>
                  <ion-row>
                    <ion-col col-3>
                      <img class="list_item_icon" src="../assets/imgs/notepad.png"/>
                    </ion-col>
                    <ion-col col-9>
                        <div class="list_item_title">Privacy Policy</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>   
          </button>
      </ion-list>    
    </ion-content>



    <ion-content *ngIf="role==3" class="sideMenu">
        <ion-list class="menu-list" no-lines>
          <!-- <button class="sideMenuItem" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
            <ion-icon name="add-circle"></ion-icon>
            {{p.title}}
          </button> -->
            <button class="sideMenuItem" menuClose detail-none ion-item icon-left (click)="nav.setRoot(pages.customerProfilePage)">  
              <!--<ion-icon ios="ios-person" md="md-person"></ion-icon>-->
              <ion-grid>
                  <ion-row>
                    <ion-col col-3>
                      <img class="list_item_icon" src="../assets/imgs/user.png"/>
                    </ion-col>
                    <ion-col col-9>
                        <div class="list_item_title">Profile</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
            </button>
            
        </ion-list>    
      </ion-content>
  
  </ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
