<!--
  Generated template for the AutocompletePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
        <ion-label class="close" text-right (click)="close()">
            Cancel
        </ion-label>
        <!--<ion-buttons right>
            <button [disabled]="saveDisabled" ion-button (click)="save()">Save</button>
        </ion-buttons>-->
    <ion-item *ngIf="action == 'pickup'" class="pickup">
        <ion-icon item-start ios="md-navigate" md="md-navigate"></ion-icon>
        <ion-label stacked>Pickup Location</ion-label>
        <ion-input [(ngModel)]="autocomplete.query" (ionChange)="updateSearch()" (ionCancel)="dismiss()"></ion-input>
    </ion-item>
    <!--<ion-toolbar *ngIf="action == 'pickup'">
      <ion-title>Enter address</ion-title>
      <ion-searchbar [(ngModel)]="autocomplete.query" [showCancelButton]="true" (ionInput)="updateSearch()" (ionCancel)="dismiss()"></ion-searchbar>
    </ion-toolbar>-->
    <!--<ion-toolbar *ngIf="action == 'drop'">
        <ion-title>Enter address</ion-title>
        <ion-searchbar [(ngModel)]="autocomplete.query" [showCancelButton]="true" (ionInput)="updateSearch()" (ionCancel)="dismiss()"></ion-searchbar>
      </ion-toolbar>-->
      <ion-item *ngIf="action == 'drop'" class="drop">
          <ion-icon item-start ios="md-pin" md="md-pin"></ion-icon>
          <ion-label stacked>Drop Off Location</ion-label>
          <ion-input [(ngModel)]="autocomplete.query" (ionChange)="updateSearch()" (ionCancel)="dismiss()"></ion-input>
      </ion-item>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let item of autocompleteItems" tappable (click)="chooseItem(item)">
        {{ item }}
      </ion-item>
    </ion-list>
  </ion-content>