.ios,.md{
page-signup { 
	.title_div {
	    text-align: center;
	    padding: 15px;
	}
	h2.head_title {
	    font-size: 68px;
	    font-weight: 600;
	    line-height: 1.5;
		letter-spacing: 8px;
		color: #efb511;
	}
	ion-input.input.input-md {
        font-size: 20px !important;
    }
	button.sign_up-btn {
	    background-color: #efb511;
        color: #000;
	    padding: 24px !important;
	    font-size: 16px !important;
	    margin-top: 20px !important;
	    border-radius: 5px;
	}
	.sign_up_form {
	    padding: 15px 5px;
	}
	h2.sub_title {
	    margin: 0;
	    font-size: 32px;
	    font-weight: 600;
	    letter-spacing: 1.5px;
	    line-height: 1;
	}
	ion-label {
	    color: #7d7a7a !important;
	    letter-spacing: 2px;
	    font-size: 16px !important;
	    margin-bottom: 5px !important
	}
	ion-item {
	    margin: 18px 0 !important;
	}
	ion-item.submit_btn_item {
	    margin: 30px 0 !important;
	}
	ion-icon.icon.icon-md.ion-md-close {
	    font-size: 32px;
	}

	.error{
		text-align: center;
		 color: red;
		 font-size: 15px;
    	letter-spacing: 0.5px;
	}

	ion-input,ion-select{
		border: 1px solid #867e7e;
		padding-left: 7px !important;
	}
	ion-icon {
        font-size: 40px !important;
    }
}
}